.training {
  width: 90%;
  margin: 0 auto;
}
.training .menu {
  width: 70%;
}
.training .menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.menu ul li {
  padding: 0.25rem 0.5rem;
}
.menu ul li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  color: #888;
  font-family: Vazir-bold;
}

.list-videos {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.button {
  text-align: center;
  margin-top: 2rem;
}
.button .btn-show-more {
  width: 8rem;
  height: 3.5rem;
  background: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.btn-show-more:hover {
  color: #444;
}
