.info {
  /* height: 90vh;
   */
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 6rem 10rem 1rem;
}
.right {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right img {
  border-radius: 10px;
}
.right h1 {
  font-size: 2rem;
  margin-top: 1rem;
}
.right .btn-card {
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.right .btn-card span {
  color: #777;
}
.right .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  width: 60%;
}
.right .icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  cursor: pointer;
}

.left {
  padding-right: 1rem;
  margin: auto 0;
}
.left .title {
  font-size: 3rem;
  color: #333;
}
.left .btn-reservation {
  margin-top: 2.5rem;
  background: #000;
  color: #fff;
  width: 11rem;
  height: 4rem;
  font-size: 0.95rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.left .btn-reservation span {
  margin-left: 0.5rem;
}
.left .btn-reservation:hover {
  color: #444;
}
.left .items {
  width: 80%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  /* gap: 1.5rem; */
}

.left .items p {
  display: flex;
  align-items: center;
  color: #777;
  margin-top: 1rem;
}
.left .items p span {
  margin-right: 0.5rem;
}

@media (max-width: 500px) {
  .right img {
    width: 90%;
  }
  .items {
    flex-direction: column;
  }
}

@media (max-width: 990px) {
  .info {
    flex-direction: column;
    padding: 5rem 2rem 1rem;
  }
  .left .title {
    font-size: 1.7rem;
    width: 90%;
  }
  .items {
    width: 100%;
  }
  .items span {
    font-size: 0.8rem;
  }
}

@media (min-width: 991px) and (max-width: 1250px) {
  .info {
    padding: 5rem 4rem 1rem;
  }
  .left .title {
    font-size: 2.5rem;
  }
  .items span {
    font-size: 0.98rem;
  }
}
