.legal {
  width: 100%;
}
.legal a {
  text-decoration: none;
}

.legal .content {
  margin-top: 7rem;
  padding-right: 6rem;
}
.content h4 {
  font-size: 2rem;
  font-family: Vazir-bold;
  color: #444;
}
.content .list {
  list-style: none;
  margin-top: 3rem;
}
.list li {
  margin-top: 1.8rem;
  color: #777;
}
.list a {
  color: #444;
}

@media (max-width: 700px) {
  .legal .content {
    margin-top: 4rem;
    padding: 0 1rem;
  }
  .content h4 {
    font-size: 1.7rem;
  }
  .list li {
    font-size: 0.9rem;
  }
}
@media (min-width: 701px) and (max-width: 990px) {
  .legal .content {
    padding-right: 3rem;
  }
}
