.content {
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #e6eaee;
  padding: 0.5rem;
}
.content .video {
}
/* .content .title {
  margin-top: 1rem;
  color: #888;
}
.content .category {
  margin-top: 1rem;
  color: #888;
} */

.content p {
  margin-top: 1rem;
  color: #000;
  font-size: 0.9rem;
  font-family: Vazir-bold;
}
.content span {
  font-size: 0.85rem;
  margin-right: 5px;
  color: #888;
}
