.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 350px;
  height: 550px; */
  padding: 1rem 2rem;
  /* border: 1px solid #ccc; */
  border: 2px solid #000;
  border-radius: 10px;
  background: #e6eaee;
}
.item.horizontal {
  height: 450px;
}
.item img {
}
.item .content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000;
}
.item .content .date {
  margin-top: 1rem;
}
.item .content .title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.item .content .degree {
  margin-top: 1rem;
}

@media (max-width: 400px) {
  .item .content .title {
    font-size: 0.9rem;
  }
  .item .content .date,
  .item .content .degree {
    font-size: 0.8rem;
  }
}

@media (max-width: 990px) {
  .item img {
    width: 90%;
  }
}
