.modal {
  width: 30vw;
  height: 10vh;
  margin: 0 auto;
  top: 40%;
  border: 2px solid #000;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.modal p {
  color: #000;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 648px) {
  .modal {
    width: 70vw;
  }
  .modal p {
    font-size: 0.85rem;
  }
}

@media (min-width: 649px) and (max-width: 1024px) {
  .modal {
    width: 45vw;
  }
}
