.competitions {
  width: 100%;
  padding: 1rem 10rem;
}
.competitions .items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
}
@media (max-width: 990px) {
  .competitions {
    padding: 1rem 2rem;
  }
  .items {
    gap: 1rem;
    justify-content: center;
  }
}
@media (min-width: 991px) and (max-width: 1250px) {
  .competitions {
    padding: 1rem 4rem;
  }
  
}
