.item {
  width: 45%;
  display: flex;
  border-radius: 10px;
  padding: 4rem 1rem;
  border: 2px solid #000;
  /* background-color: #e6eaee; */

  background: #f9f9f9;

  /* border: 1px solid #ccc; */
}

.item img {
  border-radius: 10px;
  width: 60%;
}
.item .text {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  color: #000;
}
.text h3 {
  font-size: 1rem;
}
.text .para {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.text .date {
  margin-top: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  .text h3 {
    font-size: 0.8rem;
  }
  .text .para,
  .text .date {
    font-size: 0.7rem;
  }
}
@media (max-width: 990px) {
  .item {
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  .item img {
    width: 70%;
  }
}
@media (min-width: 991px) and (max-width: 1250px) {
}
