.menu {
  display: none;
  width: 40%;
  padding: 1.5rem 2rem;
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
}
.menu.show {
  display: block;
}
.menu .btnclose {
  cursor: pointer;
  border: none;
  background: none;
}
