.rownavbar {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.rownavbar li {
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
}
.aboutme-li {
}

.rownavbar a:hover,
.rownavbar li:hover,
.colnavbar a:hover,
.colnavbar li:hover {
  color: #888;
}

.colnavbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  padding: 1rem 0rem;
}

.colnavbar a {
  text-decoration: none;
  color: #fff;
}
.colnavbar li {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 990px) {
  .rownavbar {
    display: none;
  }
}
